<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583324578499-kgfj6rh8pu7on2u2fiu3f3fdstch04ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583324578499-kgfj6rh8pu7on2u2fiu3f3fdstch04ie</string>
	<key>API_KEY</key>
	<string>AIzaSyAblmwuXgnyNatuXP9AoIGiRtQphMXhJ44</string>
	<key>GCM_SENDER_ID</key>
	<string>583324578499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ups.poesias</string>
	<key>PROJECT_ID</key>
	<string>poesiasexamen</string>
	<key>STORAGE_BUCKET</key>
	<string>poesiasexamen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583324578499:ios:ac7921072f0b11a1e56876</string>
	<key>DATABASE_URL</key>
	<string>https://poesiasexamen.firebaseio.com</string>
</dict>
</plist>